body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    margin: 0;
}

header {
    background-color: #002fff;
    color: white;
    padding: 50px 20px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #00c3ff;
}